body {
  margin: 0;
  padding: 0;
  background-color: #333333;
  color: white;
  padding: 0 20px;
}

.t-product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px 0;
}

.product-card {
  /* width: 300px; */
  border: 1px solid rgb(94, 94, 94);
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.product-card:hover {
  .product-img {
    transform: scale(1.1);
  }
}

.product-img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  max-height: 200px;
  transition: 0.2s;
}
.product-card a {
  text-decoration: none;
  color: white;
}
.btn {
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
}

.single-prod-container {
  width: 100vw;
  height: 100vh;
}
.prod-details {
  display: flex;
  gap: 200px;
  justify-content: center;
  margin: 100px 30px;
}

.breadcrumb {
  margin-top: 35px;
}
.breadcrumb a {
  /* text-decoration: none; */
  color: white;
}

.breadcrumb span {
  font-size: 20px;
}
